---
interface Props {
  icon: any;
  name: string;
}

const { icon: Icon, name } = Astro.props;
---

<span class={`flex gap-x-2 rounded-full text-xs py-2 px-2 bg-black`}>
{typeof Icon === "string" ? Icon+" " : <Icon class="size-4"/>}
{name}
</span>