---
import Layout from '../layouts/Layout.astro';
import ShinyBadge from '../components/ShinyBadge.astro';
import LinkedInIcon from '../icons/LinkedIn.astro';
import IconBox from '../icons/IconBox.astro';
import GitHubIcon from '../icons/GitHub.astro';
import LeetCodeIcon from '../icons/LeetCode.astro';
import EmailIcon from '../icons/Email.astro';
import Timeline from "../components/Timeline.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Briefcase from "../icons/Briefcase.astro";
import Code from "../icons/Code.astro";
import Projects from "../components/Projects.astro"
import Skills from "../components/Skills.astro";
import Brain from "../icons/Brain.astro";
---

<Layout title="Portfolio of Micah Shiels - Software Engineer and Programmer">
	<main class="px-4">
		<SectionContainer id="home" class="py-4">
		<div class="flex justify-center"><img class="w-full max-w-72 sm:max-w-96 h-auto mask-[linear-gradient(to_bottom,black_50%,transparent_100%)]" src="/portraits/portrait_micah_shiels_bw.png" alt="Portrait of Micah Shiels in black and white"/></div>
		<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">Micah Shiels <a href="https://www.linkedin.com/in/micahshiels" class="flex justify-center items-center" target="_blank" rel="noopener"><ShinyBadge class="bdg-gold">Available to hire</ShinyBadge></a></h1>
		<h2 class="text-2xl text-wrap">8 years of experience in the tech industry. Software Engineer based in <span class="bg-[linear-gradient(to_bottom,#AA151B_0%,#AA151B_30%,#F1BF00_30%,#F1BF00_70%,#AA151B_70%,#AA151B_100%)] bg-clip-text text-transparent">Spain</span>. Database-heavy roles, scalable backends, and production-quality code. Eager to improve until mastering existing skills and learn new ones.</h2>
		<nav class="flex flex-wrap gap-y-2 gap-x-2 mt-8">
			<IconBox href="https://www.linkedin.com/in/micahshiels">
				<LinkedInIcon class="size-6"/>
				LinkedIn
			</IconBox>
			<IconBox href="https://www.github.com/MicahGH">
				<GitHubIcon class="size-6"/>
				GitHub
			</IconBox>
			<IconBox href="https://www.leetcode.com/u/MicahLC">
				<LeetCodeIcon class="size-6"/>
				LeetCode
			</IconBox>
			<IconBox href="mailto:micah@micah.es">
				<EmailIcon class="size-6"/>
				micah@micah.es
			</IconBox>
		</nav>
		</SectionContainer>

		<SectionContainer id="experience" class="py-15">
			<h2 class="text-2xl mb-6 font-semibold flex gap-x-3 items-center">
				<Briefcase class="size-7"/>Work Experience</h2>
			<Timeline/>
		</SectionContainer>

		<SectionContainer id="projects" class="">
			<h2 class="text-2xl mb-6 font-semibold flex gap-x-3 items-center">
				<Code class="size-7"/>Projects</h2>
			<Projects/>
		</SectionContainer>

		<SectionContainer id="skills" class="py-6">
			<h2 class="text-2xl mb-6 font-semibold flex gap-x-3 items-center">
				<Brain class="size-7"/>Skills</h2>
			<Skills/>
		</SectionContainer>
	</main>
</Layout>
