<footer class="bg-neutral-primary-soft rounded-full shadow-xs border border-default m-4">
    <div class="w-full mx-auto max-w-7xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-body sm:text-center">© {new Date().getFullYear()} <a href="https://micah.es" class="hover:underline">Micah</a>
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-body sm:mt-0">
        <li>
            <a href="#home" class="hover:underline me-4 md:me-6">Home</a>
        </li>
        <li>
            <a href="#experience" class="hover:underline me-4 md:me-6">Experience</a>
        </li>
        <li>
            <a href="#projects" class="hover:underline me-4 md:me-6">Projects</a>
        </li>
        <li>
            <a href="#skills" class="hover:underline">Skills</a>
        </li>
    </ul>
    </div>
</footer>
