---
import portraitMicahShiels from "../assets/portrait_micah_shiels.png"

import "../styles/global.css"
---

<header class="flex justify-between items-center py-3 w-280 mx-auto">
    <img class="w-10 h-10 rounded-full overflow-hidden" src={portraitMicahShiels.src} alt="Portrait of Micah Shiels"/>
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>