---
import portraitMicahShiels from "../assets/portrait_micah_shiels.png"

import "../styles/global.css"
---

<header class="flex justify-between items-center py-3 w-280">
    <img class="w-10 h-10 rounded-full overflow-hidden" src={portraitMicahShiels.src} alt="Portrait of Micah Shiels"/>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>