---
import SkillIconBox from "../icons/SkillIconBox.astro"
import { type Skill } from "./Skills.astro"

const {category, skills} = Astro.props
---

<div>
<h3 class="text-lg mb-2 text-[#C9A227]">{category}</h3>
<div class="flex flex-row flex-wrap gap-y-2 py-3">
    {skills.map((skill: Skill) => (
        <SkillIconBox {...skill}/>
    ))}
</div>
</div>